parameters:
    level: 7
    paths:
        #- maintenance/Rector
        - src
        - tests

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-8.5-0/vendor/autoload.php

    ignoreErrors:
        # because we check for some HTTP client to exist or not (Guzzle 5/6 & cURL)
        -
            message: '#Http\\Adapter\\Guzzle5\\Client\\|Http\\Adapter\\Guzzle6\\Client\\|Http\\Client\\Curl\\Client given#'
            path: %currentWorkingDirectory%/tests/Extractor/HttpClientTest.php
        # phpstan does not seem to recognize the class override for JSLikeHTMLElement
        -
            message: '#Call to an undefined method DOMElement::setInnerHtml\(\)#'
            path: %currentWorkingDirectory%/src/Extractor/ContentExtractor.php
        -
            message: '#\$innerHTML#'
            path: %currentWorkingDirectory%
        # other stuff I might have fucked up with DOM* classes
        -
            message: '#DOMNode::\$tagName#'
            path: %currentWorkingDirectory%/src/
        -
            message: '#DOMNode::getElementsByTagName#'
            path: %currentWorkingDirectory%/src/
        -
            message: '#expects DOMElement, DOMNode given#'
            path: %currentWorkingDirectory%/src/Graby.php

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
