parameters:
    level: 7
    paths:
        - src
        - tests

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-8.5-0/vendor/autoload.php

    ignoreErrors:
        # because we check for some HTTP client to exist or not (Guzzle 5/6 & cURL)
        -
            message: '#Http\\Adapter\\Guzzle5\\Client\\|Http\\Adapter\\Guzzle6\\Client\\|Http\\Client\\Curl\\Client given#'
            path: %currentWorkingDirectory%/tests/Extractor/HttpClientTest.php
        # we don't want to BC by defining typehint everywhere
        # TODO: remove when jumping to 3.0
        -
            message: '#typehint specified.#'
            path: %currentWorkingDirectory%/src/
        # phpstan does not seem to recognize the class override for JSLikeHTMLElement
        -
            message: '#Call to an undefined method DOMElement::setInnerHtml\(\)#'
            path: %currentWorkingDirectory%/src/Extractor/ContentExtractor.php

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
