parameters:
    level: 7
    paths:
        - src
        - tests

    # https://github.com/phpstan/phpstan/issues/694#issuecomment-350724288
    autoload_files:
        - vendor/bin/.phpunit/phpunit-8.3-0/vendor/autoload.php

    ignoreErrors:
        # because we check for some HTTP client to exist or not (Guzzle 5/6 & cURL)
        -
            message: '#Http\\Adapter\\Guzzle5\\Client\\|Http\\Adapter\\Guzzle6\\Client\\|Http\\Client\\Curl\\Client given#'
            path: %currentWorkingDirectory%/tests/Extractor/HttpClientTest.php
        # we don't want to BC by defining typehint everywhere
        # TODO: remove when jumping to 3.0
        -
            message: '#typehint specified.#'
            path: %currentWorkingDirectory%/src/

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
